---
- name: Include vars
  include_vars:
    file: './roles/group_vars/php.yml'

- name: create static folder
  file:
    path: '{{ static_files_location }}'
    state: directory
    mode: 755

- name: Copy app files
  copy: 
    src: ./linfo-4.0.6/
    dest: '{{ static_files_location }}'
    mode: 444    
  notify: Restart php-fpm